[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
certifi = "*"
cffi = "*"
charset-normalizer = "*"
coreapi = "*"
coreschema = "*"
cryptography = "*"
defusedxml = "*"
dj-rest-auth = "*"
Django = "*"
django-allauth = "*"
django-filter = "*"
djangorestframework = "*"
drf-yasg = "*"
idna = "*"
inflection = "*"
itypes = "*"
Jinja2 = "*"
MarkupSafe = "*"
oauthlib = "*"
psycopg2-binary = "*"
pycparser = "*"
PyJWT = "*"
pyparsing = "*"
python3-openid = "*"
pytz = "*"
PyYAML = "*"
requests = "*"
requests-oauthlib = "*"
"ruamel.yaml" = "*"
"ruamel.yaml.clib" = "*"
sqlparse = "*"
typing-extensions = "*"
uritemplate = "*"
urllib3 = "*"

[dev-packages]

[requires]
python_version = "3.7"
