asgiref
certifi
cffi
charset-normalizer
coreapi
coreschema
cryptography
defusedxml
dj-rest-auth
Django==3.2.11
django-allauth
django-filter
djangorestframework
drf-yasg
idna
inflection
itypes
Jinja2
MarkupSafe
oauthlib
packaging
psycopg2-binary
pycparser
PyJWT
pyparsing
python3-openid
pytz
PyYAML
requests
requests-oauthlib
ruamel.yaml
ruamel.yaml.clib
sqlparse
typing_extensions
uritemplate
urllib3
